[MASTER]
load-plugins=pylint_odoo
score=n

[MESSAGES CONTROL]
disable=all

# This .pylintrc contains optional AND mandatory checks and is meant to be
# loaded in an IDE to have it check everything, in the hope this will make
# optional checks more visible to contributors who otherwise never look at a
# green travis to see optional checks that failed.
# .pylintrc-mandatory containing only mandatory checks is used the pre-commit
# config as a blocking check.

enable=anomalous-backslash-in-string,
    assignment-from-none,
    attribute-deprecated,
    dangerous-default-value,
    duplicate-key,
    license-allowed,
    manifest-author-string,
    manifest-version-format,
    method-compute,
    method-inverse,
    method-search,
    pointless-statement,
    pointless-string-statement,
    print-used,
    redundant-keyword-arg,
    reimported,
    return-in-init,
    sql-injection,
    too-few-format-args,
    translation-field,
    translation-required,
    unreachable,
    use-vim-comment,
    # specific odoo messages
    invalid-commit,
    missing-readme,
    odoo-addons-relative-import,
    redefined-builtin


[REPORTS]
msg-template={path}:{line}: [{msg_id}({symbol}), {obj}] {msg}
output-format=colorized
reports=no

[ODOO-CHECKER]
valid-odoo-versions = 19.3
